<%= render 'shared/banner', header: 'Comments#new' %>
<div class="container justfiy-content-center">
  <div class="row text-align">
    <div class="col-12">
      <p>Find me in app/views/comments/new.html.erb</p>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
