<div class="banner">
  <div class="banner-content">
    <h1>Create new Comment</h1>
    <p>!Rules! Be respectfull and don’t write names.</p>
  </div>
</div>

<div class="container justfiy-content-center">
  <div class="row text-align">
    <div class="col-12">
      <%= simple_form_for [@demo, @comment] do |f| %>
        <%= f.input :content, label: 'Your comment', input_html: { class: 'shadow-sm b-white' }%>
        <%= f.button :submit, 'Send', class: "new-comment-submit btn-light shadow-sm bg-white" %>
      <% end %>

    </div>
  </div>
</div>
<%= render 'shared/footer' %>
