<%= render 'shared/banner', header: 'Demos#edit' %>
  <div class="container justfiy-content-center">
    <div class="row text-align">
      <div class="col-12">
      <p>Find me in app/views/demos/edit.html.erb</p>
      </div>
    </div>
  </div>
