<div class="banner">
  <div class="frame">
    <div class="btn-arrow-back">
      <input type="button" onclick="history.go(-1)">
    </div>
    <div class="banner-content">
      <h1><%= header %></h1>
    </div>
    <div class="useless">
    </div>
  </div>
</div>
