 <div class="card-pages-banner", style="background-image: linear-gradient(180deg, rgba(50, 110, 205, 0.25) 0%, rgba(130, 149, 151, 0.25) 59.38%, rgba(255, 234, 169, 0.25) 100%), url('<%= cl_image_path 'DemoMap/pexels-photo-355952_vgi7lk' %>'); background-position: 50% 46%;">
  <div class="btn-arrow-back-white">
    <input type="button" onclick="history.go(-1)">
  </div>


  <div class="card-pages-title">
    <div class="card-pages-title-content">
        <%= header %>
    </div>
  </div>
</div>
