<%= render 'shared/banner', header: 'Create new Event Events#new' %>
<div class="container justfiy-content-center">
  <div class="row text-align">
    <div class="col-12">
      <p>Find me in app/views/events/new.html.erb</p>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
