<%= render 'shared/banner', header: 'Your Dashboard' %>
<div class="container justfiy-content-center">
  <div class="row text-align">
    <div class="col-12">

    </div>
  </div>
</div>
<%= render 'shared/footer_general' %>
