<div class="justify-content-center container">
  <div class="row">
    <div class="col-12">
      <h1>For organizers</h1>
      <p>Find me in app/views/pages/organizers.html.erb</p>
    </div>
  </div>
</div>
