<%= render 'shared/banner', header: 'For organizers' %>
<div class="justify-content-center container">
  <div class="row text-align">
    <div class="col-12">
      <p>Find me in app/views/pages/organizers.html.erb</p>
    </div>
  </div>
</div>
