<%= render 'shared/banner', header: 'For organizers' %>
<div class="justify-content-center container">
  <div class="row text-align">
    <div class="col-12">
      <p>
        You want to use our service? All right, here's how <br>
<br>
<strong>
Who are we working with?<br>
</strong>
First and foremost, it's about you and your event. We want to make sure that our work only supports causes we can approve of. In concrete terms this means: Your event must not have a racist, right-wing, homophobic, sexist or anti-Semitic context. The same applies to you, the organisers. There will be no cooperation with the Identitarian Movement, which wants to demonstrate for climate justice.  Nor will there be any cooperation with anti-imperialist groups that question Israel's right to exist or articulate similar anti-Semitic attitudes.
This may not suit everyone and is certainly open to criticism, but the final word is up to us.
At this point, I would like to apologise to all those who feel they have been and will continue to be treated unfairly. <br>
<br>
<strong>
How does the whole thing work and what do you get out of it?<br>
</strong>
With our help you can bring your contents organized on the street. Inform the participants about the current situation, about delays in the schedule, changes in the route, a good time to make noise and much more. Users* can get an idea of the beginning and end of the demonstration, the location of paramedics and Lautis, police movements and roadblocks - in real time.
The information about the locations is provided by GPS data and connected smartphones that are located at the respective positions.
Non-trackable information such as roadblocks and police movements are marked on the map by an administrator with authorised accounts.
The event can therefore be monitored in real time, so the participants are always up to date. <br>
<br>
<strong>
What does it cost?<br>
</strong>
We do not do this to earn money.
We just want to help to bring articulated protest and demands to the streets in a more organized way.
We only ask for donations in order to further develop our service and make it more efficient.

      </p>
    </div>
  </div>
</div>
<%= render 'shared/footer_general' %>
