<%= link_to demos_path do %>
  <div class="map-background" %>
    <div class="splash">
    <h1>
      <p class="typewrite" data-period="2000" data-type='[ "DemoMap" ]'>
        <span class="wrap"></span>
      </p>
    </h1>
      <h2>Know where to march</h2>

  </div>

  </div>
<% end %>
