<%= link_to demos_path do %>
  <div class="map-background", style="background-image: linear-gradient(0deg, rgba(2, 2, 2, 0.4), rgba(2, 2, 2, 0.4)), url('<%= cl_image_path 'splash_ur6lts' %>');" %>
    <div class="demo-map-icon">
    </div>
    <div class="splash">
      <h1>
        <p class="typewrite" data-period="2000" data-type='[ "DemoMap" ]'>
          <span class="wrap"></span>
        </p>
      </h1>
      <h2>Know where to march</h2>
    </div>
  </div>
<% end %>
