<div class="map-background" style= "background-image: url(https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/-122.337798,37.810550,9.67,0.00,0.00/1000x600@2x?access_token=pk.eyJ1IjoibWFyaWUtaDEyIiwiYSI6ImNrNmNhcjcxeDA5M3UzcW9tN2VyOGw3N2QifQ.EWut7Dkjs1p9PA4oHCeFrA)">
  <h1>
    <a href="" class="typewrite" data-period="2000" data-type='[ "DemoMap." ]'>
      <span class="wrap"></span>
    </a>
  </h1>
</div>



