<div class="map-background">
  <div class="splash">
  <h1>
    <a href="demos" class="typewrite" data-period="2000" data-type='[ "DemoMap" ]'>
      <span class="wrap"></span>
    </a>
  </h1>
</div>
</div>


