<%= link_to demos_path do %>
  <div class="map-background", style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('<%= cl_image_path 'splash_ur6lts' %>');">
    <div class="splash">
    <h1>
      <p class="typewrite" data-period="2000" data-type='[ "DemoMap" ]'>
        <span class="wrap"></span>
      </p>
    </h1>
      <h2>Know what's going on</h2>

  </div>

  </div>
<% end %>
