<%= render 'shared/banner', header: 'Tips & Tricks' %>
<div class="container justify-content-center">
  <div class="row text-align">
    <div class="col-12">
      <div id="accordion">
        <div class="card mb-2 shadow bg-white accordion-shape">
          <div class="card-header bg-white accordion-shape" id="headingOne">
            <h5 class="mb-0">
              <button class="btn-link text-dark p-3 " data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Auf dem Weg zur Demo
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              beispiel Vorsichtig sein
            </div>
          </div>
        </div>
        <div class="card mb-2 shadow bg-white accordion-shape">
          <div class="card-header bg-white accordion-shape" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn-link text-dark p-3 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Was tun bei Festnahmen
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Rebellieren!!!
            </div>
          </div>
        </div>
        <div class="card mb-2 shadow bg-white accordion-shape">
          <div class="card-header bg-white accordion-shape" id="headingThree">
            <h5 class="mb-0">
              <button class="btn-link text-dark p-3 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Thema Pfefferspray
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Möglichst vermeiden
            </div>
          </div>
        </div>
        <div class="card mb-2 shadow bg-white accordion-shape">
          <div class="card-header bg-white accordion-shape" id="headingThree">
            <h5 class="mb-0">
              <button class="btn-link text-dark p-3 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Thema Pfefferspray
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Möglichst vermeiden
            </div>
          </div>
        </div>
        <div class="card mb-2 shadow bg-white accordion-shape">
          <div class="card-header bg-white accordion-shape" id="headingThree">
            <h5 class="mb-0">
              <button class="btn-link text-dark p-3 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Thema Pfefferspray
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Möglichst vermeiden
            </div>
          </div>
        </div>
        <div class="card mb-2 shadow bg-white accordion-shape">
          <div class="card-header bg-white accordion-shape" id="headingThree">
            <h5 class="mb-0">
              <button class="btn-link text-dark p-3 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Thema Pfefferspray
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Möglichst vermeiden
            </div>
          </div>
        </div>
            <p>Find me in app/views/pages/tips.html.erb</p>
      </div>
    </div>
  </div>
</div>

