<%= render 'shared/header', header: 'Tips & Tricks' %>
<div class="container justify-content-center">
  <div class="row text-align">
    <div class="col-12">
      <div id="accordion">
        <div class="card-tips mb-2 shadow bg-white accordion-shape">
          <div class="card-header bg-white" id="headingOne">
            <h5 class="mb-0">
              <div class="card-pages-accordion">
                <button class="btn btn-link text-dark p-3 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">What to bring
                </button>
                <div class="arrow-back-more"></div>
              </div>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Water in a plastic bottle with squirt top, to drink and to wash off your skin or eyes</li>
                <li>Energy snacks</li>
                <li>Identification and/or emergency contact information</li>
                <li>Enough money for pay-phone, food, transportation</li>
                <li>Watch, paper, pen for accurate documentation of events</li>
                <li>Inhaler, epipen, insulin & several days of prescription medication</li>
                <li>Menstrual pads. Avoid using tampons - if you’re arrested you may not have a chance to change</li>
                <li>Basic First Aid Kit</li>
                <li>Wet Wipes and tissues</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-tips mb-2 shadow bg-white accordion-shape">
          <div class="card-header bg-white accordion-shape" id="headingTwo">
            <h5 class="mb-0">
              <div class="card-pages-accordion">
                <button class="btn btn-link text-dark p-3 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  What to do
                </button>
                <div class="arrow-back-more"></div>
              </div>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Plan ahead: For essential needs, care and supplies. Know what to expect. Know how to get assistance. Plan for how to re-contact your buddies if separated</li>
                <li>Be calm and focused: when things get most intense, react todanger or warning signs sooner, not later</li>
                <li>Watch for signs of physical and mental problems in yourself and others. Cool down others who exhibit panic behavior</li>
                <li>Document: film or write down police actions, brutality, and injuries</li>
              </ul>
            </div>
          </div>
        </div>
<!--         <div class="card mb-2 shadow bg-white accordion-shape">
          <div class="card-header bg-white accordion-shape" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link text-dark p-3 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Know your rights
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Rebellieren!!!
            </div>
          </div>
        </div>
 -->        <div class="card-tips mb-2 shadow bg-white accordion-shape">
          <div class="card-header bg-white" id="headingFour">
            <h5 class="mb-0">
              <div class="card-pages-accordion">
                <button class="btn btn-link text-dark p-3 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Dealing with Teargas
                </button>
                <div class="arrow-back-more"></div>
              </div>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Avoid use of oils & lotions because they can trap the chemicals and thereby prolong exposure</li>
                <li>Gas masks provide the best facial protection, if properly fitted and sealed. Alternatively, goggles, respirators, or a wet bandana over the nose & mouth will help</li>
                <li>STAY CALM. Panicking increases the irritation. Breathe slowy and remember it is only temporary</li>
                <li>Blow your nose, rinse your mouth, cough & spit. Try not to swallow</li>
                <li>Wearing contacts: you must remove the lenses or get someone to remove them for you, with CLEAN, uncontaminated fingers. Destroy the lenses after exposure</li>
                <li>DO NOT RUB IT IN</li>
                <li>Use an eye flush using a solution of half liquid antacid and half water. This only applies to aluminum hydroxide or magnesium hydroxide</li>
              </ul>
            </div>
          </div>
        </div>
             <p>Sources: <strong>SAFETY DURING PROTEST</strong> - Amnesty International</p>
                   </div>
    </div>
  </div>
</div>
<%= render 'shared/footer_general' %>
