.btn-go {
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  left: 285px;
  top: 179px;
  backgroung-color: #326ECD;
}

.btn-calendar {
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  left: 25px;
  top: 290px;
  background-color: #FFD144;
}

.btn-share {
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  left: 101px;
  top: 290px;
  background-color: #B3B3B3;

.btn-light{
  border-radius:14px;
  width:105px;
  height:51px;
}
