.tab-box{
  position: sticky;
  top:0px;
  z-index: 7;
  height:100px;
}

#navigation{
  position: absolute;
  top: 50px;
  z-index: 20;
  width: 100%,
}

.nav {
  margin: 0 20px ;
}

.nav-pills .nav-link {
  background-color: white;
  color: $base-color;
  border-color: $base-color;
  border: solid 1px;
  border-radius: 4px;
  margin: 0 3px ;
  padding: 0.2rem 1rem;
}

.nav-pills .nav-link.active {
  background-color: $base-color;
  color: white;
  border-color: $base-color;
}

#pills-twitter-tab {
  background-color: white;
  color: #0084b4;
  border-color: #0084b4;

}


#pills-twitter-tab.nav-link.active {
  background-color: #0084b4;
  color: white;
  border-color: #0084b4;

}
