.leaflet-container {
  a {
    color: black !important;
  }
    a.leaflet-popup-close-button {
    font-size: 25px !important;
    padding: 0 !important;
    top: 17px !important;
    right: 4px !important;
    color: grey !important;
  }
}


.leaflet-popup-content-wrapper {
  font-family: $body-font;
  border-radius: 7px !important;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2) !important;
  padding: 5px 10px !important;
}

.leaflet-popup-content, .leaflet-popup-content-wrapper, .card-popup-content{
  font-size: 18px !important;
  margin: 0.5rem 0rem !important;
  line-height: 1.2rem !important;
  p {
    margin: 0 !important;
  }
}
.card-popup-footer {
  font-size: 12px;
  line-height: 0.8rem;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: top;

}

.card-popup-footer-location {
 display: flex;
 align-items: top;
 max-width: 70%;
}

.card-popup-footer i{
margin: 0px 0.3rem 0px 0px;
}

.card-popup-footer-comments {
 display: flex;
 align-items: top;
}

.card-popup-header {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.card-popup-header img {
  width: 20px;
  height: 20px;
  margin: 0px 0.3rem 0px 0px;
}


