.card-event {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
    border-radius: 24px;
    margin: 1em 0;
    a {
    text-decoration: none;
    }
    :hover {
    text-decoration: none;
    }
}

.card-event-content {
 font-size: 18px;
}

.card-event-icon img {
  width: 50px;
  height: 50px;
  margin: 10px 25px 10px 10px;
}

.card-event-content {
  text-align: left;
  width: 70%
}

.card-event-footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1.4;
  margin-top: 8px;
  opacity: 0.8;
}

.card-event-footer-location {
  display: flex;
}

.card-event-footer-comments {
  display: flex;
}



