p {
  margin-bottom: 0;
}

.card-comment {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 24px;
  margin: 1em 0;
}

.card-comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-comment-infos {
  display: flex;
  justify-content: space-between;
}

.card-comment-infos-content-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 6px;
}

.card-comment-infos-content-details img {
  width: 40px;
}

.card-comment-infos-content-description {
  padding-right: 5px;
  line-height: 1.1em;
}


.card-comment-footer p {
  font-size: 12px;
  line-height: 1.4;
  margin-top: 8px;
  opacity: .8;
}

.card-comment-infos-content-details p {
  font-size: 12px;
  opacity: .8;
  padding-left: 6px;
}


// .card-comment * {
//   border: 1px solid red;
// }


.card-demo {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-radius: 24px;
    margin: 1em 0;
    a {
    text-decoration: none;
    }
    :hover {
    text-decoration: none;
    }
}

.card-demo-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card-demo-infos-content-details {
  position: absolute;
  width: 184px;
  height: 57px;
  left: 160px;
  top: 130px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.333333px;

  color: #000000;

  h2 {
  font-weight: 700;
  }

}

.card-demo-info-date {
  line-height: .6;
  padding-left: 20px;
}

.card-demo-info-day {
  font-size: 64px;
  font-weight: bold;
  font-family: Roboto;
  letter-spacing: -0.33px;
  text-align: center;
  height: 50px;
}

.card-demo-info-month {
  font-size: 36px;
  height: 29px;
  padding-top: 8px;
}

