.card-comment {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-comment-infos {
  display: flex;
  justify-content: space-between;
}

// .card-comment img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .card-comment h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-comment p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }


.card-comment * {
  border: 1px solid red;
}
