.demo-map-icon{
  position:relative;
  width: 150px;
  height: 150px;
  background: image_url("red-icon-demo-map.svg");
  z-index: 7;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  top: 90px;
  margin-bottom: 20px;
}
