.leaflet-routing-container {
  display: none;
}

#map {

  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;

  position: fixed;
}

// .mapboxgl-ctrl-top-right{
//   z-index: 100;
// }


.mapboxgl-ctrl-group  {
  position: fixed;
  top: 100px;
  right: 20px
}

