
.excerpt-hidden {
  height: 5rem;
  overflow: hidden;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: linear-background(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 1) 100%);
  }
}

.excerpt-visible {
 height: auto;
 overflow: auto;
}
