.sidenav {
  height: 90%;
  position: fixed;
  z-index: 8;
  // top: 0;
  left: 0;
  bottom: 0;
  background-color: #fffffffa;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 4px 0px 20px 0px #8888885c;
  border-radius: 0 25px 0 0;
  ul {
    list-style: none;
    padding: 0;
  }
}

@media (min-width: 1000px) {
  .sidenav {
      width: 160px !important;
  }
}


.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  display: block;
  transition: 0.2s;
  font-size: 18px;
}

.sidenav a:hover {
    opacity: 0.7;
}

.btn-nav {
  border: none;
  background-color: white;
  font-size: 22px;
}

.btn-nav:focus {
  outline:none;
}

.nav-link {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #f8f9fa;
  border-right: solid;
  border-right-color: rgba(22, 127, 251, 0.42);
  border-right-width: medium;
  font-weight: 300;
}
