// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "social-share-button";

h1, h2, h3 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
  text-decoration: none;
  color: black;
  }
}

.background-color {
  background: $light-gray;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (min-width: 768px) {
.container, .container-sm, .container-md {
    max-width: 100% !important;
}
}

.html { height: 100%; }
.body {
    min-height:100%;
    position:relative;
    padding-bottom:[footer-height]
}
